{% extends 'base.html' %}

{% block title %}Cookieshop | Register{% endblock %}

{% block body %}
  <h1>Register</h1>
  {% if error %}
  <p style="color: tomato;">{{ error }}</p>
  {% endif %}

  <form method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" required>
    </div>
    
    <input type="submit" value="Sign Up">
  </form>  
{% endblock %}