{% extends 'base.html' %}

{% block title %}Cookieshop | Checkout{% endblock %}

{% block body %}
<h1>Checkout</h1>
<div class="container">
{% if message %}
<p style="color: green;">{{ message }}</p>
{% endif %}
{% if error %}
<p style="color: tomato;">{{ error }}</p>
{% endif %}
<form action="{{url_for('merchandise.edit_item')}}" method="POST">
    <input name="id" type="hidden" value="{{item.id}}"/>
    <h2>Your Address:</h2>
    <div>
        <input type="text" name="name" id="name" value="{{item.name}}">
    </div>
    <div>
        <textarea id="description" name="description" rows="4"
            cols="200">{{item.description}}</textarea>
    </div>
    <div>
        <input type="number" name="price" id="price" value="{{item.price}}">
    </div>
    <input type="submit" value="Submit Order">
   

</form>
</div>
{% endblock %}