{% extends 'base.html' %}

{% block title %}Cookieshop{% endblock %}

{% block body %}
    <div class="heading">
        <h1>About Us</h1>
        <p>THE WEEKEND is an initiative designed to connect artists around the world by providing a platform in which you can post and advertise your art and merchandise from the comfort of your home.</p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <image src="https://images.squarespace-cdn.com/content/v1/56f4747c2eeb8139660284f2/1551985947664-ESOEQ9VZFEVDN8Y88VBB/IMG_6726.JPG?format=1500w"></image>
            </div>
            <div class="about-content">
                <h2>Connect with other artists around the world!</h2>
                <p>We believe creativity is a practice of magic. We understand magic as the act of alchemizing spirit into a new form. To alchemize is to transform. Spirit is the language we turn to describe a web of energy that connects all across (non-linear) time and (evershifting) space, including ancestors, spirits, guides of nature, and other entities. If magic is an act of alchemizing spirit into something new, creativity then is also a form of magic. So share your magic with us </p>
                <a href="" class="read-more">Read More</a>

            </div>
        </section>
    </div>      
{% endblock %}