<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
        rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% endblock %}
</head>
<body>
    <header>
        <div class="logo">THE WEEKEND</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="/" class="activate">Home</a>
                </li>
    
                <li>
                    <a href="/merchandise">Merchandise</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>

                
            </ul>
        </nav>

    </header>
    
    <script>
        const menu = document.querySelector(".hamburger");
        const navigation = document.querySelector(".navbar");

        function navActive() {
            navigation.classList.toggle("active")
        }

        menu.addEventListener("click", function(){
            navActive()
        })
    </script>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
  
</body>
</html>